.var-floating-actions-button {
  position: fixed;

  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity 0.5s ease;
  }

  &-fade-enter-from,
  &-fade-leave-to {
    opacity: 0;
  }

  &--top-left {
    top: 16px;
    left: 16px;
  }

  &--top-right {
    top: 16px;
    right: 16px;
  }

  &--bottom-left {
    bottom: 16px;
    left: 16px;
  }

  &--bottom-right {
    bottom: 16px;
    right: 16px;
  }

  &--fab[var-floating-actions-button-cover] {
    width: 64px;
    height: 64px;
  }

  &--actions {
    display: flex;
    align-items: center;
    &--action {
      width: 40px;
      height: 40px;
      background: var(--color-primary);
      &--icon {
        color: #fff;
        font-size: 24px;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
