:root {
  --alert-padding: 16px;
  --alert-border-radius: 4px;
  --alert-icon-margin-right: 12px;
  --alert-close-icon-margin-left: 12px;
  --alert-error-text-color: var(--color-on-danger-container);
  --alert-success-text-color: var(--color-on-success-container);
  --alert-warning-text-color: var(--color-on-warning-container);
  --alert-info-text-color: var(--color-on-info-container);
  --alert-error-color: var(--color-danger-container);
  --alert-success-color: var(--color-success-container);
  --alert-warning-color: var(--color-warning-container);
  --alert-info-color: var(--color-info-container);
  --alert-content-font-size: 14px;
  --alert-title-font-size: 16px;
  --alert-title-font-weight: 500;
}

.var-alert {
  padding: var(--alert-padding);
  border-radius: var(--alert-border-radius);
  display: flex;
  background-color: transparent;

  &--outline {
    border: thin solid currentColor;
  }

  &__icon {
    margin-right: var(--alert-icon-margin-right);
  }

  &__title {
    font-size: var(--alert-title-font-size);
    font-weight: var(--alert-title-font-weight);
    word-break: normal;
    word-wrap: break-word;
  }

  &__content {
    flex: 1;
    font-size: var(--alert-content-font-size);
  }

  &__close-icon {
    cursor: pointer;
    margin-left: var(--alert-close-icon-margin-left);
  }

  &--info {
    color: var(--alert-info-text-color);
    background-color: var(--alert-info-color);
  }

  &--success {
    color: var(--alert-success-text-color);
    background-color: var(--alert-success-color);
  }

  &--warning {
    color: var(--alert-warning-text-color);
    background-color: var(--alert-warning-color);
  }

  &--error {
    color: var(--alert-error-text-color);
    background-color: var(--alert-error-color);
  }

  &-fade-leave-to {
    opacity: 0;
  }

  &-fade-leave-active {
    transition: opacity 0.3s;
  }
}
