@bottom-navigation-height: 50px;
@bottom-navigation-z-index: 1;
@bottom-navigation-background-color: #fff;
@bottom-navigation-border-color: #bcc2cb;

:root {
  --bottom-navigation-height: @bottom-navigation-height;
  --bottom-navigation-z-index: @bottom-navigation-z-index;
  --bottom-navigation-background-color: @bottom-navigation-background-color;
  --bottom-navigation-border-color: @bottom-navigation-border-color;
}

.var-bottom-navigation {
  width: 100%;
  height: var(--bottom-navigation-height);
  display: flex;
  position: relative;
  background-color: var(--bottom-navigation-background-color);

  &.var-bottom-navigation--fixed {
    position: fixed;
    left: 0;
    bottom: 0;
  }

  &.var-bottom-navigation--border {
    border-top: 1px solid var(--bottom-navigation-border-color);
  }

  > .fab {
    width: var(--bottom-navigation-height);
    height: var(--bottom-navigation-height);
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }
}
