@tabs-item-horizontal-height: 44px;
@tabs-item-vertical-height: 66px;
@tabs-radius: 2px;
@tabs-padding: 12px;
@tabs-indicator-size: 2px;
@tabs-indicator-background: var(--color-primary);
@tabs-background: #fff;

:root {
  --tabs-item-horizontal-height: @tabs-item-horizontal-height;
  --tabs-item-vertical-height: @tabs-item-vertical-height;
  --tabs-radius: @tabs-radius;
  --tabs-padding: @tabs-padding;
  --tabs-indicator-size: @tabs-indicator-size;
  --tabs-indicator-background: @tabs-indicator-background;
  --tabs-background: @tabs-background;
}

.var-tabs {
  border-radius: var(--tabs-radius);
  background: var(--tabs-background);
  overflow: hidden;
  transition: background-color 0.25s;

  &__tab-wrap {
    position: relative;
    display: flex;
    height: 100%;
  }

  &__indicator {
    position: absolute;
    z-index: 10;
    transition-property: width, transform;
    transition-duration: 0.3s;
  }

  &--layout-horizontal {
    flex-direction: row;

    &-scrollable {
      overflow-x: auto;
      overflow-y: hidden;
    }

    &-padding {
      padding: 0 var(--tabs-padding);
    }

    &-indicator {
      left: 0;
      bottom: 0;
      height: var(--tabs-indicator-size);
      background: var(--tabs-indicator-background);
    }
  }

  &--layout-vertical {
    flex-direction: column;

    &-scrollable {
      overflow-x: hidden;
      overflow-y: auto;
    }

    &-padding {
      padding: 0;
    }

    &-indicator {
      left: 0;
      top: 0;
      width: var(--tabs-indicator-size);
      background: var(--tabs-indicator-background);
    }
  }

  &--item-horizontal {
    height: var(--tabs-item-horizontal-height);
  }

  &--item-vertical {
    height: var(--tabs-item-vertical-height);
  }

  &--fixed-bottom {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 99;
  }

  &--safe-area {
    padding-bottom: constant(safe-area-inset-bottom); // iOS < 11.2
    padding-bottom: env(safe-area-inset-bottom); // iOS >= 11.2
    box-sizing: content-box !important;
  }
}
