:root {
  --result-title-font-size: 32px;
  --result-title-font-weight: 500;
  --result-description-font-size: 14px;
  --result-description-line-height: 1.6;
  --result-info-color: var(--color-info);
  --result-info-border-color: #00afef4c;
  --result-success-color: var(--color-success);
  --result-success-border-color: #00c48f4c;
  --result-error-color: var(--color-danger);
  --result-error-border-color: #f443364d;
  --result-warning-color: var(--color-warning);
  --result-warning-border-color: #ff9f004d;
  --result-question-color: #607d8b;
  --result-question-border-color: #eceff1;
  --result-empty-color: #9e9e9e;
  --result-empty-border-color: #9e9e9e4d;
}

.var-result {
  text-align: center;
  overflow: hidden;
  width: 100%;

  &__image {
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border-style: solid;
    border-color: transparent;

    svg {
      margin: 0 auto;
      display: block;
      width: 100%;
      height: 100%;
    }

    &--info {
      border-color: var(--result-info-border-color);

      path {
        fill: var(--result-info-color);
      }
    }

    &--empty {
      border-color: var(--result-empty-border-color);

      path {
        fill: var(--result-empty-color);
      }
    }

    &--question {
      border-color: var(--result-question-border-color);

      path {
        fill: var(--result-question-color);
      }
    }

    &--error {
      border-color: var(--result-error-border-color);

      path {
        fill: var(--result-error-color);
      }
    }

    &--warning {
      border-color: var(--result-warning-border-color);

      path {
        fill: var(--result-warning-color);
      }
    }

    &--success {
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border-color: var(--result-success-color);
      display: flex;
      justify-content: center;
      user-select: none;
      zoom: normal;

      &--cover-left {
        display: block;
        position: absolute;
        z-index: 1;
        top: -0.875%;
        left: -41.27%;
        width: 75%;
        height: 150%;
        border-radius: 150% 0 0 150%;
        transform: rotate(-45deg);
        background: #fff;
      }

      &--cover-right {
        display: block;
        position: absolute;
        top: -13.75%;
        left: 37.5%;
        width: 75%;
        height: 150%;
        border-radius: 0 125% 125% 0;
        animation-name: rotate-circle;
        animation-timing-function: ease-in;
        transform-origin: 0 50%;
        transform: rotate(-45deg);
        background: #fff;
      }

      &--line {
        height: 6.8%;
        background-color: var(--result-success-color);
        display: block;
        position: absolute;
        z-index: 10;
      }

      &--line-tip {
        transform: rotate(45deg);
        animation-name: success-line-tip;
        animation-fill-mode: forwards;
      }

      &--line-long {
        transform: rotate(-45deg);
        animation-name: success-line-long;
        animation-fill-mode: forwards;
      }

      @keyframes success-line-tip {
        0% {
          top: 23.75%;
          left: 1.25%;
          width: 0;
        }

        54% {
          top: 21.25%;
          left: 2.5%;
          width: 0;
        }

        70% {
          top: 43.75%;
          left: -7.5%;
          width: 62.5%;
        }

        84% {
          top: 60%;
          left: 26.25%;
          width: 21.25%;
        }

        100% {
          top: 56.25%;
          left: 17.5%;
          width: 31.25%;
        }
      }

      @keyframes success-line-long {
        0% {
          top: 67.5%;
          right: 57.5%;
          width: 0;
        }

        65% {
          top: 67.5%;
          right: 57.5%;
          width: 0;
        }

        84% {
          top: 43.75%;
          right: 0;
          width: 68.75%;
        }

        100% {
          top: 47.5%;
          right: 9.5%;
          width: 58.75%;
        }
      }

      &--circle {
        z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        box-sizing: content-box;
        border-style: solid;
        border-color: var(--result-success-border-color);
      }

      &--fix {
        top: 10%;
        left: 32.5%;
        width: 8.75%;
        height: 112.5%;
        z-index: 1;
        position: absolute;
        transform: rotate(-45deg);
        background-color: #fff;
      }

      @keyframes rotate-circle {
        0% {
          transform: rotate(-45deg);
        }

        5% {
          transform: rotate(-45deg);
        }

        12% {
          transform: rotate(-405deg);
        }

        100% {
          transform: rotate(-405deg);
        }
      }
    }
  }

  &__title {
    font-size: var(--result-title-font-size);
    word-break: break-word;
    font-weight: var(--result-title-font-weight);
    position: relative;
    z-index: 1;
  }

  &__description {
    font-size: var(--result-description-font-size);
    word-break: break-word;
    position: relative;
    z-index: 1;
    line-height: var(--result-description-line-height);
  }

  &__footer {
    position: relative;
    z-index: 1;
  }
}
