:root {
  --result-title-font-size: 32px;
  --result-title-font-weight: 500;
  --result-description-font-size: 14px;
  --result-description-line-height: 1.6;
}

.var-result {
  text-align: center;
  overflow: hidden;
  width: 100%;

  &__title {
    font-size: var(--result-title-font-size);
    word-break: break-word;
    position: relative;
    font-weight: var(--result-title-font-weight);
  }

  &__description {
    font-size: var(--result-description-font-size);
    word-break: break-word;
    position: relative;
    line-height: var(--result-description-line-height);
  }

  &__footer {
    position: relative;
  }
}
