node_modules

.idea
.vscode
*.log
.DS_Store
*.vsix

packages/varlet-cli/lib/commands
packages/varlet-cli/lib/compiler
packages/varlet-cli/lib/config
packages/varlet-cli/lib/shared
packages/varlet-cli/lib/index.d.ts
packages/varlet-cli/site/mobile/routes.ts
packages/varlet-cli/site/pc/routes.ts
packages/varlet-cli/site/site.config.json

packages/varlet-ui/site
packages/varlet-ui/es
packages/varlet-ui/cjs
packages/varlet-ui/umd
packages/varlet-ui/coverage
packages/varlet-ui/highlight

packages/varlet-icons/dist

packages/varlet-vscode-extension/dist
