packages/varlet-cli/lib/**
packages/varlet-cli/site/**
packages/varlet-cli/generators/**

packages/varlet-icons/dist/**

packages/varlet-ui/coverage/**
packages/varlet-ui/es/**
packages/varlet-ui/umd/**
packages/varlet-ui/site/**
packages/varlet-ui/public/**
packages/varlet-ui/.varlet/**
packages/varlet-ui/types/global.d.ts
*.md

pnpm-lock.yaml
pnpm-workspace.yaml
