packages/varlet-cli/lib/**
packages/varlet-cli/site/**
packages/varlet-cli/template/**

packages/varlet-icons/dist/**

packages/varlet-ui/es/**
packages/varlet-ui/lib/**
packages/varlet-ui/umd/**
packages/varlet-ui/site/**
packages/varlet-ui/public/**
packages/varlet-ui/.varlet/**
packages/varlet-ui/coverage/**
packages/varlet-ui/highlight/**
packages/varlet-ui/types/global.d.ts

packages/varlet-ui-playground/dist/**
packages/varlet-ui-playground/public/**
packages/varlet-shared/lib/**
packages/varlet-shared/es/**

**/package.json
*.md

pnpm-lock.yaml
pnpm-workspace.yaml
