:root {
  --signature-background-color: var(--color-surface-container-highest);
  --signature-stroke-color: #333;
  --signature-height: 200px;
  --signature-border-radius: 4px;
}

.var-signature {
  width: 100%;
  color: var(--signature-stroke-color);
  background: var(--signature-background-color);
  height: var(--signature-height);
  border-radius: var(--signature-border-radius);
}
