@import '../styles/var';

@form-details-error-color: @color-danger;
@form-details-length-color: #888;

@form-details-margin-top: 6px;
@form-details-font-size: 12px;
@form-details-message-margin-right: 4px;

.var {
	&-form-details-enter-from,
	&-form-details-leave-to {
		opacity: 0;
		margin-top: 2px !important;
	}

	&-form-details-enter-active,
	&-form-details-leave-active {
		transition: 0.2s all cubic-bezier(0.25, 0.8, 0.5, 1);
	}
}

.var-form-details {
	display: flex;
	justify-content: space-between;
	font-size: @form-details-font-size;
	margin-top: @form-details-margin-top;

	&__message {
		flex-grow: 1;
		color: @form-details-error-color;
		margin-right: @form-details-message-margin-right;
	}

	&__length {
		flex-shrink: 0;
		color: @form-details-length-color;
	}
}
