@import "../styles/var";
@import "../styles/elevation";
@import "../styles/common";

@button-border-radius: 4px;

@button-normal-width: 64px;
@button-normal-height: 36px;
@button-normal-padding: 3px 16px;

@button-large-width: 78px;
@button-large-height: 44px;
@button-large-padding: 6px 20px;

@button-small-width: 50px;
@button-small-height: 28px;
@button-small-padding: 2px 12px;

@button-mini-width: 36px;
@button-mini-height: 22px;
@button-mini-padding: 1px 8px;

@button-round-size: auto;
@button-round-padding: 7px;

@button-disabled-color: rgba(0,0,0,.26);
@button-disabled-background-color: rgba(0,0,0,.12);

.varlet-button {
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  line-height: 1.2;
  border-radius: @button-border-radius;
  user-select: none;
  transition: box-shadow .2s;

  &:active {
    box-shadow:
      0 3px 3px -2px @shadow-key-umbra-opacity,
      0 3px 4px 0 @shadow-key-penumbra-opacity,
      0 6px 8px 0 rgba(0, 0, 0, 0.24);
  }

  &--plain {
    background-color: @color-background-base;
  }

  &--primary {
    color: #fff;
    background-color: @color-primary;
  }

  &--info {
    color: #fff;
    background-color: @color-info;
  }

  &--success {
    color: #fff;
    background-color: @color-success;
  }

  &--warning {
    color: #fff;
    background-color: @color-warning;
  }

  &--danger {
    color: #fff;
    background-color: @color-danger;
  }

  &--normal {
    min-width: @button-normal-width;
    min-height: @button-normal-height;
    padding: @button-normal-padding;
    font-size: @font-size-md;
  }

  &--large {
    min-width: @button-large-width;
    min-height: @button-large-height;
    padding: @button-large-padding;
    font-size: @font-size-lg;
  }

  &--small {
    min-width: @button-small-width;
    min-height: @button-small-height;
    padding: @button-small-padding;
    font-size: @font-size-sm;
  }

  &--mini {
    min-width: @button-mini-width;
    min-height: @button-mini-height;
    padding: @button-mini-padding;
    font-size: @font-size-xs;
  }

  &--round {
    min-width: @button-round-size;
    min-height: @button-round-size;
    padding: @button-round-padding;
    border-radius: 50%;
  }

  &--disabled {
    background-color: @button-disabled-background-color;
    color: @button-disabled-color;
  }
}
