@import '../styles/var';
@import '../styles/elevation';
@import '../styles/common';

@button-border-radius: 4px;

@button-normal-padding: 9px 15px;
@button-large-padding: 12px 22px;
@button-small-padding: 6px 11px;
@button-mini-padding: 3.5px 9px;
@button-round-padding: 6px;

@button-disabled-color: rgba(0, 0, 0, 0.26);
@button-disabled-background-color: rgba(0, 0, 0, 0.12);

.var-button {
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  line-height: 1.2;
  border-radius: @button-border-radius;
  user-select: none;
  will-change: box-shadow;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

  &:active {
    box-shadow: 0 5px 5px -3px @shadow-key-umbra-opacity, 0 8px 10px 1px @shadow-key-penumbra-opacity,
      0 3px 14px 2px @shadow-key-ambient-opacity;
  }

  &--default {
    color: inherit;
    background-color: @color-background-base;
  }

  &--primary {
    color: #fff;
    background-color: @color-primary;
  }

  &--info {
    color: #fff;
    background-color: @color-info;
  }

  &--success {
    color: #fff;
    background-color: @color-success;
  }

  &--warning {
    color: #fff;
    background-color: @color-warning;
  }

  &--danger {
    color: #fff;
    background-color: @color-danger;
  }

  &--plain-default {
    color: inherit;
  }

  &--plain-primary {
    color: @color-primary;
  }

  &--plain-info {
    color: @color-info;
  }

  &--plain-success {
    color: @color-success;
  }

  &--plain-warning {
    color: @color-warning;
  }

  &--plain-danger {
    color: @color-danger;
  }

  &--normal {
    padding: @button-normal-padding;
    font-size: @font-size-md;
  }

  &--large {
    padding: @button-large-padding;
    font-size: @font-size-lg;
  }

  &--small {
    padding: @button-small-padding;
    font-size: @font-size-sm;
  }

  &--mini {
    padding: @button-mini-padding;
    font-size: @font-size-xs;
  }

  &--round {
    padding: @button-round-padding;
    border-radius: 50%;
  }

  &--disabled {
    background-color: @button-disabled-background-color;
    color: @button-disabled-color;
  }

  &--outline {
    border: thin solid currentColor;
  }

  &--plain {
    background-color: transparent;

    &:active {
      box-shadow: none;
    }
  }
}
