.var {

  &--box {
    box-sizing: border-box;
  }

  &--relative {
    position: relative;
  }

  &--hidden {
    overflow: hidden;
  }

  &--block {
    display: flex;
  }

  &--inline {
    display: inline-flex;
  }
}
