// 文字
@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;

// 图标
@icon-size-xs: 16px;
@icon-size-sm: 18px;
@icon-size-md: 20px;
@icon-size-lg: 22px;

//颜色
@color-primary: #3a7afe;
@color-info: #00afef;
@color-success: #10ca93;
@color-warning: #ff9800;
@color-danger: #f44336;
@color-disabled: #e0e0e0;

// 动画函数
@cubic-bezier: cubic-bezier(0.25, 0.8, 0.5, 1);
