// 文字
@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;

//颜色
@color-primary: #005CAF;
@color-info: #00BCD4;
@color-success: #4CAF50;
@color-warning: #FB8C00;
@color-danger: #F44336;
@color-background-base: #F5F5F5;
