// 文字
@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;

// 图标
@icon-size-xs: 16px;
@icon-size-sm: 18px;
@icon-size-md: 20px;
@icon-size-lg: 22px;

//颜色
@color-primary: #2e67ba;
@color-info: #0097a7;
@color-success: #43a047;
@color-warning: #ff6f00;
@color-danger: #ed5f59;
@color-background-base: #f5f5f5;
@color-font-md: #888;
