@import "../styles/var";

@chip-border-radius: 2px;
@chip-padding: 0px 4px;
@chip-line-height: 32px;
@chip-normal-padding: 4px 13px;
@chip-large-padding: 5px 13px;
@chip-small-padding: 3px 13px;
@chip-mini-padding: 1px 13px;

.var {
  &-fade-leave-to {
    opacity: 0;
  }

  &-fade-leave-active {
    transition: opacity .3s;
  }
}

.var-chip {
  font-family: Roboto,sans-serif;
  border-width: 1px;
  border-style: solid;
  border-radius: @chip-border-radius;
  cursor: default;
  vertical-align: middle;

  &--plain {
    background-color: #999;
    border-color: #999;
  }

  &--primary {
    border-color: @color-primary;
    background-color: @color-primary;
  }

  &--info {
    border-color: @color-info;
    background-color: @color-info;
  }

  &--success {
    border-color: @color-success;
    background-color: @color-success;
  }

  &--warning {
    border-color: @color-warning;
    background-color: @color-warning;
  }

  &--danger {
    border-color: @color-danger;
    background-color: @color-danger;
  }

  &--hollow&--primary {
    background-color: #fff;
    color: @color-primary;
    border-color: @color-primary;
  }

  &--hollow&--plain {
    background-color: #fff;
    color: #999;
    border-color: currentColor;
  }

  &--hollow&--info {
    background-color: #fff;
    color: @color-info;
    border-color: currentColor;
  }

  &--hollow&--success {
    background-color: #fff;
    color: @color-success;
    border-color: currentColor;
  }

  &--hollow&--warning {
    background-color: #fff;
    color: @color-warning;
    border-color: currentColor;
  }

  &--hollow&--danger {
    background-color: #fff;
    color: @color-danger;
    border-color: currentColor;
  }

  &--round {
    border-radius: 100px;
  }

  &--normal {
    font-size: @font-size-md;
    padding: @chip-normal-padding;
  }

  &--large {
    padding: @chip-large-padding;
    font-size: @font-size-lg;
  }

  &--small {
    padding: @chip-small-padding;
    font-size: @font-size-sm;
  }

  &--mini {
    padding: @chip-mini-padding;
    font-size: @font-size-xs;
  }

  &--close {
    margin-left: 4px;
    cursor: pointer;
  }

}
