@import "../styles/var";

@chip-border-radius: 2px;
@chip-padding: 0px 4px;
@chip-line-height: 32px;
@chip-normal-padding: 8px 15px;
@chip-large-padding: 11px 22px;
@chip-small-padding: 5px 11px;
@chip-mini-padding: 1px 9px;

.var {
  &-fade-leave-to {
    opacity: 0;
  }

  &-fade-leave-active {
    transition: opacity .3s;
  }
}

.var-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  border-radius: @chip-border-radius;
  cursor: default;
  border: thin solid transparent;
  vertical-align: middle;
  line-height: 1;

  &--default {
    color: inherit;
    background: @color-background-base;
  }

  &--primary {
    color: #fff;
    background-color: @color-primary;
  }

  &--info {
    color: #fff;
    background-color: @color-info;
  }

  &--success {
    color: #fff;
    background-color: @color-success;
  }

  &--warning {
    color: #fff;
    background-color: @color-warning;
  }

  &--danger {
    color: #fff;
    background-color: @color-danger;
  }

  &--plain {
    background-color: transparent;

    &:active {
      box-shadow: none;
    }
  }

  &--plain-default {
    color: inherit;
    border-color: currentColor;
  }

  &--plain-primary {
    color: @color-primary;
    border-color: currentColor;
  }

  &--plain-info {
    color: @color-info;
    border-color: currentColor;
  }

  &--plain-success {
    color: @color-success;
    border-color: currentColor;
  }

  &--plain-warning {
    color: @color-warning;
    border-color: currentColor;
  }

  &--plain-danger {
    color: @color-danger;
    border-color: currentColor;
  }

  &--round {
    border-radius: 100px;
  }

  &--normal {
    font-size: @font-size-md;
    padding: @chip-normal-padding;
  }

  &--large {
    padding: @chip-large-padding;
    font-size: @font-size-lg;
  }

  &--small {
    padding: @chip-small-padding;
    font-size: @font-size-sm;
  }

  &--mini {
    padding: @chip-mini-padding;
    font-size: @font-size-xs;
  }

  &--close {
    margin-left: 4px;
    cursor: pointer;
  }
  &--left{
    margin-right: 4px;
  }
  &--right{
    margin-left: 4px;
  }

}
