@import '../styles/common';
@import '../styles/elevation';

@menu-background: #fff;

.var {
  &-menu-enter-from,
  &-menu-leave-to {
    opacity: 0;
  }
  &-menu-enter-active,
  &-menu-leave-active {
    transition-property: opacity;
    transition-duration: 0.3s;
  }
}

.var-menu {
  display: inline-block;
  background: @menu-background;

  &__menu {
    position: absolute;
  }
}
