.var-color-picker {
  position: relative;
  width: 100%;
  height: 100%;
  &__canvas {
    position: relative;
  }
  &__dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1.5px #0000004d;
  }
}
