.var-otp-input {
  &__container {
    display: flex;
    .var-input {
      .var-form-details {
        display: none;
      }
      &__input {
        text-align: center;
      }
    }
    .var-input + .var-input {
      margin-left: 8px;
    }
  }
}
