:root {
  --grid-item-border: thin solid rgba(0, 0, 0, 0.12);
  --grid-item-border-radius: 4px;
  --grid-item-padding: 16px 8px;
}

.var-grid-item {
  overflow: auto;
  width: 100%;
  background-color: var(--site-config-color-bar);
  box-sizing: border-box;
  padding: var(--grid-item-padding);

  &__content {
    display: flex;
  }

  &__center {
    align-items: center;
    justify-content: center;
  }

  &__border {
    margin: 0 -1px -1px 0;
    border: var(--grid-item-border);
  }

  &__square {
    height: 100%;
    padding: 0;
  }

  &--horizontal,
  &--horizontal > .var-badge {
    display: flex;
    flex-direction: row;
  }

  &--vertical,
  &--vertical > .var-badge {
    display: flex;
    flex-direction: column;
  }

  &__radius {
    border-radius: var(--grid-item-border-radius);
  }
}
