:root {
  --popup-overlay-background-color: rgba(0, 0, 0, 0.6);
}

.var-overlay {
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--popup-overlay-background-color);
    transition: all 0.25s;
  }
}
