:root {
  --countdown-text-color: var(--color-text);
  --countdown-text-font-size: var(--font-size-lg);
}

.var-countdown {
  color: var(--countdown-text-color);
  font-size: var(--countdown-text-font-size);
}
