.var-button-group {
  display: inline-flex;
  :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  :not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
