.var-ellipsis {
  width: 100%;
  overflow: hidden;
  vertical-align: bottom;

  &--clamp {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
  }

  &--line {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--cursor {
    cursor: pointer;
  }

  &--expand {
    display: inline-block;
    white-space: wrap;
    overflow: visible;
  }
}
