:root {
  --count-to-text-color: var(--color-text);
  --count-to-text-font-size: var(--font-size-lg);
}

.var-count-to {
  color: var(--count-to-text-color);
  font-size: var(--count-to-text-font-size);
}
