@import '../styles/elevation';
@import '../styles/common';
@import '../styles/var';

@snackbar-width: 256px;
@snackbar-color: rgba(255, 255, 255, 0.87);
@snackbar-border-radius: 4px;
@snackbar-background: #333;
@snackbar-font-size: @font-size-md;
@snackbar-margin: 6px 24px;
@snackbar-border-color: currentColor;
@snackbar-success-background: @color-success;
@snackbar-info-background: @color-info;
@snackbar-error-background: @color-danger;
@snackbar-warning-background: @color-warning;
@snackbar-content-padding: 14px 16px;
@snackbar-action-margin: 0 16px 0 0;

.var-transition-group {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.var-pointer-auto {
  pointer-events: auto;
}

.var {
  &-snackbar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.15s @cubic-bezier;
    z-index: 10;

    &__wrapper {
      width: @snackbar-width;
      display: flex;
      border-radius: @snackbar-border-radius;
      color: @snackbar-color;
      background: @snackbar-background;
      font-size: @snackbar-font-size;
      margin: @snackbar-margin;
      align-items: center;
      border-color: @snackbar-border-color;
      pointer-events: auto;

      &-success {
        background: @snackbar-success-background;
      }

      &-info {
        background: @snackbar-info-background;
      }

      &-warning {
        background: @snackbar-warning-background;
      }

      &-error {
        background: @snackbar-error-background;
      }
    }

    &__content {
      flex-grow: 1;
      padding: @snackbar-content-padding;
    }

    &__action {
      margin: @snackbar-action-margin;
      display: flex;
    }

    &__vertical {
      flex-direction: column;
      align-items: flex-start;

      .var-snackbar__action {
        align-self: flex-end;
        margin-bottom: 8px;
      }
    }

    &-fade-leave-active {
      position: absolute;
    }

    &-fade-enter-from,
    &-fade-leave-to {
      opacity: 0;
      transform: translateY(-30px);
    }
  }

  &-snackbar-transition {
    top: 0;
    position: fixed;

    .var-snackbar__wrapper {
      position: relative;

      &-top {
        top: 5%;
      }

      &-center {
        top: 45%;
      }

      &-bottom {
        top: 90%;
      }
    }
  }
}
