@import "../styles/elevation";
.var-transition-group {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
.var-pointer-auto{
  pointer-events: auto
}
.var-snackbar {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //position: absolute;
  transition: all .15s cubic-bezier(0, 0, .2, 1);

  &__wrapper {
    display: flex;
    border-radius: 4px;
    color: hsla(0, 0%, 100%, .87);
    font-size: 14px;
    margin: 6px 24px;
    align-items: center;
    border-color: currentColor;
    pointer-events: auto;
  }

  &__content {
    flex-grow: 1;
    padding: 14px 16px;
  }

  &__action {
    margin-right: 8px;
  }

  &__vertical {
    flex-direction: column;
    align-items: flex-start;

    .var-snackbar__action {
      align-self: flex-end;
      margin-bottom: 8px;
    }
  }

  &-fade-leave-active {
    position: absolute;
    //transition: all 0.1s ease;
  }

  &-fade-enter-from,
  &-fade-leave-to {
    opacity: 0;
    transform: translateY(-30px);
  }
}
