@import '../styles/var';

@radio-checked-color: @color-primary;
@radio-unchecked-color: #555;
@radio-disabled-color: #aaa;
@radio-error-color: @color-danger;

@checkbox-form-details-margin-left: 8px;

.var-radio {
	display: flex;
	align-items: center;

	&__wrap {
		display: inline-flex;
		flex-direction: column;
	}

	&__action {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 7px;
		border-radius: 50%;
	}

	&__icon {
		display: block;
		font-size: 24px;
	}

	&__form-details {
		margin-left: @checkbox-form-details-margin-left;
	}

	&--checked {
		color: @radio-checked-color;
	}

	&--unchecked {
		color: @radio-unchecked-color;
	}

	&--disabled {
		color: @radio-disabled-color;
	}

	&--error {
		color: @radio-error-color;
	}
}
