:root {
  --rail-navigation-width: 80px;
  --rail-navigation-background: var(--color-surface-container-high);
  --rail-navigation-padding: 12px 0;
  --rail-navigation-start-padding: 4px 0;
  --rail-navigation-end-padding: 4px 0;
  --rail-navigation-item-gap: 4px;
}

.var-rail-navigation {
  width: var(--rail-navigation-width);
  min-height: 100%;
  padding: var(--rail-navigation-padding);
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--rail-navigation-background);
  transition: background-color 250ms;
  -webkit-tap-highlight-color: transparent;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__start {
    padding: var(--rail-navigation-start-padding);
  }

  &__end {
    padding: var(--rail-navigation-end-padding);
  }

  &__content {
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
  }

  &__content::-webkit-scrollbar {
    display: none;
  }

  &__content > * + * {
    margin-top: var(--rail-navigation-item-gap);
  }
}
