:root {
  --date-input-picker-width: 320px;
}

.var-date-input {
  text-align: left;

  .var-menu[var-date-input-cover] {
    width: 100%;
    background: transparent;
    display: block;
  }

  &__picker {
    width: var(--date-input-picker-width);

    --date-picker-body-background-color: transparent;
    --date-picker-title-background: transparent;

    .var-date-picker-header {
      background-color: var(--menu-background-color);
    }
  }

  &__calendar-icon {
    margin-left: 6px;
  }

  &__clear-icon-container {
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
  }

  &__clear-icon {
    font-size: var(--field-decorator-icon-size);
  }

  &--menu {
    overflow: hidden;
  }

  &--standard-menu-margin {
    margin-top: var(--field-decorator-line-focus-size) !important;
  }

  &--filled-menu-margin {
    margin-top: var(--field-decorator-line-focus-size) !important;
  }
}
