.var-site-code-example {
  margin-top: 16px;
  margin-bottom: 4px;
  position: relative;

  &__toolbar {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;

    button {
      color: var(--site-config-color-hl-code) !important;
    }
  }

  &__code {
    transition: all .25s;
    overflow: hidden;
    border-radius: 4px;
  }

  &--scroller {
    code {
      white-space: nowrap;
    }
  }
}
