:root {
  --input-decorator-text-color: #555;
  --input-decorator-error-color: var(--color-danger);
  --input-decorator-blur-color: #888;
  --input-decorator-focus-color: var(--color-primary);
  --input-decorator-placeholder-size: 16px;
  --input-decorator-icon-size: 20px;
  --input-decorator-line-size: 1px;
  --input-decorator-line-focus-size: 2px;
  --input-decorator-disabled-color: var(--color-text-disabled);
  --input-decorator-normal-standard-padding-top: 20px;
  --input-decorator-normal-standard-padding-bottom: 4px;
  --input-decorator-normal-standard-icon-padding: 20px 0 4px;
  --input-decorator-normal-outlined-padding-top: 16px;
  --input-decorator-normal-outlined-padding-bottom: 16px;
  --input-decorator-normal-outlined-padding-left: 16px;
  --input-decorator-normal-outlined-padding-right: 16px;
  --input-decorator-normal-outlined-placeholder-space: 4px;
  --input-decorator-normal-outlined-icon-padding: 16px 0 16px;
  --input-decorator-small-standard-padding-top: 16px;
  --input-decorator-small-standard-padding-bottom: 4px;
  --input-decorator-small-standard-icon-padding: 16px 0 4px;
  --input-decorator-small-outlined-padding-top: 8px;
  --input-decorator-small-outlined-padding-bottom: 8px;
  --input-decorator-small-outlined-padding-left: 12px;
  --input-decorator-small-outlined-padding-right: 12px;
  --input-decorator-small-outlined-placeholder-space: 2px;
  --input-decorator-small-outlined-icon-padding: 8px 0 8px;
}

.var-input-decorator {
  width: 100%;
  color: var(--input-decorator-text-color);
  cursor: inherit;

  &__label {
    cursor: inherit;
  }

  &__controller {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__wrap {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    display: flex;
    align-items: center;
    font-size: var(--input-decorator-icon-size);
  }

  &__placeholder {
    max-width: 100%;
    position: absolute;
    font-size: var(--input-decorator-placeholder-size);
    line-height: 1em;
    color: var(--input-decorator-blur-color);
    pointer-events: none;
    cursor: inherit;
    transform: translate(0, 0);
    vertical-align: middle;
  }

  &__clear-icon[var-input-decorator-cover] {
    display: flex;
    font-size: 15px;
    margin-left: 4px;
    cursor: pointer;
  }

  &--non-hint {
    padding-top: 0;
  }

  &--placeholder-hint {
    font-size: 0.75em;
  }

  &--placeholder-hidden {
    visibility: hidden;
  }

  &--focus {
    color: var(--input-decorator-focus-color);
  }

  &--disabled {
    color: var(--input-decorator-disabled-color);
    cursor: not-allowed;
  }

  &--error {
    color: var(--input-decorator-error-color);
  }

  &--standard {
    .var-input-decorator__wrap {
      padding: var(--input-decorator-normal-standard-padding-top) 0
        var(--input-decorator-normal-standard-padding-bottom);
    }

    .var-input-decorator__icon {
      padding: var(--input-decorator-normal-standard-icon-padding);
    }

    .var-input-decorator--wrap-non-hint {
      padding: 4px 0;
    }

    .var-input-decorator__placeholder {
      left: 0;
      transform-origin: left;
      transition: top 0.3s, transform 0.3s, font-size 0.3s, color 0.25s;
      top: calc(
        var(--input-decorator-normal-standard-padding-top) +
          (
            100% - var(--input-decorator-normal-standard-padding-top) -
              var(--input-decorator-normal-standard-padding-bottom) - var(--input-decorator-placeholder-size)
          ) / 2
      );
    }

    .var-input-decorator__placeholder-textarea {
      top: var(--input-decorator-normal-standard-padding-top);
    }

    .var-input-decorator--placeholder-hint {
      top: 0;
      transform: translate(0, 0);
    }

    .var-input-decorator--placeholder-non-hint {
      top: 50%;
      transform: translate(0, -50%);
    }

    .var-input-decorator__line {
      width: 100%;
      height: var(--input-decorator-line-size);
      background: var(--input-decorator-blur-color);
      transition: background-color 0.25s;
    }

    .var-input-decorator--line-disabled {
      background: var(--input-decorator-disabled-color);
    }

    .var-input-decorator__dot {
      width: 100%;
      height: var(--input-decorator-line-focus-size);
      background: var(--input-decorator-focus-color);
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s var(--cubic-bezier), background-color 0.25s;
    }

    .var-input-decorator--line-focus {
      transform: scaleX(1);
    }

    .var-input-decorator--line-error {
      background: var(--input-decorator-error-color);
    }
  }

  &--outlined {
    .var-input-decorator__controller {
      padding: 0 var(--input-decorator-normal-outlined-padding-right) 0
        var(--input-decorator-normal-outlined-padding-left);
    }
    .var-input-decorator__wrap {
      padding: var(--input-decorator-normal-outlined-padding-top) 0
        var(--input-decorator-normal-outlined-padding-bottom) 0;
    }

    .var-input-decorator__icon {
      padding: var(--input-decorator-normal-outlined-icon-padding);
    }

    .var-input-decorator__placeholder {
      transform-origin: left;
      transition: top 0.3s, transform 0.3s, font-size 0.3s, margin 0.3s, color 0.25s;
      top: calc(
        var(--input-decorator-normal-outlined-padding-top) +
          (
            100% - var(--input-decorator-normal-outlined-padding-top) -
              var(--input-decorator-normal-outlined-padding-bottom) - var(--input-decorator-placeholder-size)
          ) / 2
      );
    }

    .var-input-decorator__placeholder-textarea {
      top: var(--input-decorator-normal-outlined-padding-top);
    }

    .var-input-decorator--placeholder-hint {
      top: 0;
      transform: translateY(-50%);
    }

    .var-input-decorator__line {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      pointer-events: none;

      &-start {
        flex: 0 0
          calc(
            var(--input-decorator-normal-outlined-padding-left) -
              var(--input-decorator-normal-outlined-placeholder-space)
          );
        height: 100%;
        border-radius: 4px 0 0 4px;
        border: 0 solid var(--input-decorator-blur-color);
        border-top-width: var(--input-decorator-line-size);
        border-bottom-width: var(--input-decorator-line-size);
        border-inline-start-width: var(--input-decorator-line-size);
        transition: border 0.1s;
      }

      &-notch {
        max-width: calc(
          100% -
            (
              var(--input-decorator-normal-outlined-padding-left) -
                var(--input-decorator-normal-outlined-placeholder-space)
            ) -
            (
              var(--input-decorator-normal-outlined-padding-right) -
                var(--input-decorator-normal-outlined-placeholder-space)
            )
        );
        height: 100%;
        font: inherit;
        border: 0 solid var(--input-decorator-blur-color);
        border-top-width: var(--input-decorator-line-size);
        border-bottom-width: var(--input-decorator-line-size);
        transition: border 0.1s;
      }

      &-notch--hint {
        border-top-width: 0 !important;
      }

      &-placeholder {
        max-width: 100%;
        visibility: hidden;
        font-size: 0.75em;
        margin: 0 var(--input-decorator-normal-outlined-placeholder-space);
      }

      &-end {
        flex: 1;
        height: 100%;
        border-radius: 0 4px 4px 0;
        border: 0 solid var(--input-decorator-blur-color);
        border-top-width: var(--input-decorator-line-size);
        border-bottom-width: var(--input-decorator-line-size);
        border-inline-end-width: var(--input-decorator-line-size);
        transition: border 0.1s;
      }
    }

    .var-input-decorator--line-focus {
      .var-input-decorator__line-start {
        border: 0 solid var(--input-decorator-focus-color);
        border-top-width: var(--input-decorator-line-focus-size);
        border-bottom-width: var(--input-decorator-line-focus-size);
        border-inline-start-width: var(--input-decorator-line-focus-size);
      }

      .var-input-decorator__line-notch {
        border: 0 solid var(--input-decorator-focus-color);
        border-top-width: var(--input-decorator-line-focus-size);
        border-bottom-width: var(--input-decorator-line-focus-size);
      }

      .var-input-decorator__line-end {
        border: 0 solid var(--input-decorator-focus-color);
        border-top-width: var(--input-decorator-line-focus-size);
        border-bottom-width: var(--input-decorator-line-focus-size);
        border-inline-end-width: var(--input-decorator-line-focus-size);
      }
    }

    .var-input-decorator--line-disabled {
      border-radius: 4px;
      border: var(--input-decorator-line-size) solid var(--input-decorator-disabled-color);
    }

    .var-input-decorator--line-error {
      border-color: var(--input-decorator-error-color) !important;
    }
  }

  &--small {
    .var-input-decorator--standard& {
      --input-decorator-normal-standard-padding-top: var(--input-decorator-small-standard-padding-top);
      --input-decorator-normal-standard-padding-bottom: var(--input-decorator-small-standard-padding-bottom);
      --input-decorator-normal-standard-icon-padding: var(--input-decorator-small-standard-icon-padding);
    }

    .var-input-decorator--outlined& {
      --input-decorator-normal-outlined-padding-top: var(--input-decorator-small-outlined-padding-top);
      --input-decorator-normal-outlined-padding-bottom: var(--input-decorator-small-outlined-padding-bottom);
      --input-decorator-normal-outlined-padding-left: var(--input-decorator-small-outlined-padding-left);
      --input-decorator-normal-outlined-padding-right: var(--input-decorator-small-outlined-padding-right);
      --input-decorator-normal-outlined-icon-padding: var(--input-decorator-mini-outlined-icon-padding);
      --input-decorator-normal-outlined-placeholder-space: var(--input-decorator-small-outlined-placeholder-space);
    }
  }
}
