@import '../styles/var';

@input-input-text-color: #555;
@input-error-color: @color-danger;
@input-blur-color: #888;
@input-focus-color: @color-primary;
@input-placeholder-size: 16px;
@input-textarea-height: auto;
@input-textarea-padding-top: 8px;
@input-icon-padding: @input-placeholder-size 0 0;
@input-icon-size: 20px;
@input-input-text-color: #555;
@input-line-size: 1px;
@input-line-spread-size: 2px;
@input-disabled-color: #aaa;

.var {
  &-input-footer-margin-enter-from,
  &-input-footer-margin-leave-to {
    opacity: 0;
    margin-top: 2px !important;
  }

  &-input-footer-margin-enter-active,
  &-input-footer-margin-leave-active {
    transition: 0.2s all @cubic-bezier;
  }
}

.var-input {
  width: 100%;
  color: @input-input-text-color;

  &__controller {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__wrap {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: @input-placeholder-size;
  }

  &__icon {
    display: flex;
    align-items: center;
    padding: @input-icon-padding;
    font-size: 20px;
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: left;
    transition-property: top, transform;
    transition-duration: 0.3s;
    transform: translate(0, calc(-50% + @input-placeholder-size / 2)) scale(1);
    font-size: @input-placeholder-size;
  }

  &__textarea-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.3s;
    transform: translate(0, @input-textarea-padding-top + @input-placeholder-size) scale(1);
    font-size: @input-placeholder-size;
  }

  &__input {
    width: 100%;
    height: 32px;
    padding: 0;
    outline: none;
    border: none;
    font-size: inherit;
    background: transparent;
    color: @input-input-text-color;
    caret-color: @input-focus-color;
  }

  &__line {
    width: 100%;
    height: @input-line-size;
    background: @input-blur-color;
  }

  &__dot {
    width: 100%;
    height: @input-line-spread-size;
    background: @input-focus-color;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s @cubic-bezier;
  }

  &__clear-icon[var-input-cover] {
    display: flex;
    margin-left: 4px;
  }

  &--textarea {
    padding-top: @input-textarea-padding-top;
    height: @input-textarea-height;
  }

  &--placeholder-hint {
    top: 0;
    transform: translate(0, 0) scale(0.75);
  }

  &--placeholder-non-hint {
    top: 50%;
    transform: translate(0, -50%) scale(1);
  }

  &--non-hint {
    padding-top: 0;
  }

  &--placeholder-hidden {
    visibility: hidden;
  }

  &--focus {
    color: @input-focus-color;
  }

  &--spread {
    transform: scaleX(1);
  }

  &--disabled {
    color: @input-disabled-color;
  }

  &--error {
    color: @input-error-color;
  }

  &--line-disabled {
    background: @input-disabled-color;
  }

  &--line-error {
    background: @input-error-color;
  }

  &--caret-error {
    caret-color: @input-error-color;
  }
}
