@import '../styles/var';

@rate-disabled-color: #aaa;
@rate-error-color: @color-danger;
@rate-action-padding: 4px;
@rate-primary-color: @color-primary;

.var-rate {
  display: flex;
  transform: translateX(-@rate-action-padding);

  &__content {
    padding: @rate-action-padding;
    box-sizing: unset;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &--disabled {
    color: @rate-disabled-color !important;
  }

  &--error {
    color: @rate-error-color !important;
  }

  &--primary {
    color: @rate-primary-color;
  }
}
