.space[data-v-bfc7e16a]{height:200px}.selected-icon[data-v-bfc7e16a],.prepend-icon[data-v-bfc7e16a]{margin-right:6px}.append-icon[data-v-bfc7e16a]{margin-left:6px}.arrow-icon-rotate[data-v-bfc7e16a]{transform:rotate(180deg)}
