:root {
  --breadcrumb-item-active-color: var(--color-primary);
  --breadcrumb-item-active-hover-color: #233dd2;
  --breadcrumb-item-text-color: #888;
  --breadcrumb-item-separator-margin: 0 6px;
  --breadcrumb-item-separator-font-size: 14px;
}

.var-breadcrumb-item {
  display: flex;
  align-items: center;
  color: var(--breadcrumb-item-text-color);

  &__separator {
    margin: var(--breadcrumb-item-separator-margin);
    font-size: var(--breadcrumb-item-separator-font-size);
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &--active {
    color: var(--breadcrumb-item-active-color);
    transition: 0.1s color;

    &:hover {
      cursor: pointer;
      color: var(--breadcrumb-item-active-hover-color);
    }
  }
}
