@ripple-cubic-bezier: cubic-bezier(0.68, 0.01, 0.62, 0.6);
@ripple-color: currentColor;

:root {
  --ripple-cubic-bezier: @ripple-cubic-bezier;
  --ripple-color: @ripple-color;
}

.var-ripple {
  position: absolute;
  transition: transform 0.2s var(--ripple-cubic-bezier), opacity 0.14s linear;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
  z-index: 100;
  background-color: var(--ripple-color);
}
