.var-ripple {
  position: absolute;
  transition: transform 0.27s cubic-bezier(0.68, 0.01, 0.62, 0.6), opacity 0.08s linear;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
  z-index: 100;
}
