@import '../styles/var';

.var-collapse-item {
  box-sizing: border-box;
  position: relative;
  margin-top: 0;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  transition: margin-top 0.25s, color 0.25s;

  &:before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  &:not(:first-child):after {
    border-top: thin solid rgba(0, 0, 0, 0.12);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-header {
    align-items: center;
    display: flex;
    font-size: @font-size-md;
    outline: none;
    padding: 10px 16px;
    justify-content: space-between;
    position: relative;
    width: 100%;

    &__icon {
      transform: rotate(0deg);
      opacity: 1;
    }

    &__disable {
      opacity: 0;
    }

    &__open {
      transform: rotate(-180deg);
    }
  }

  &-content {
    transition: height 0.25s;
    display: flex;
    overflow: hidden;
  }

  &__wrap {
    padding: 0 16px 10px;
    word-break: break-all;
    flex: 1;
  }

  &__active + &,
  &__active:not(:first-child) {
    margin-top: 16px;
  }

  &__disable {
    color: rgba(0, 0, 0, 0.38);
  }
}
