@import '../styles/var';

@badge-default-color: #f5f5f5;
@chip-primary-color: @color-primary;
@chip-danger-color: @color-danger;
@chip-success-color: @color-success;
@chip-warning-color: @color-warning;
@chip-info-color: @color-info;

.var-badge {
  display: inline-block;
  position: relative;

  &__content {
    color: #fff;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    border-radius: 100px;
    font-size: 12px;
    padding: 2px 6px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
  }

  &__position {
    border: 2px #ffffff solid;
  }

  &--default {
    background: @badge-default-color;
  }

  &--primary {
    background: @chip-primary-color;
  }

  &--info {
    background: @chip-info-color;
  }

  &--warning {
    background: @chip-warning-color;
  }

  &--success {
    background: @chip-success-color;
  }

  &--danger {
    background: @chip-danger-color;
  }

  &--right-top {
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-50%) translateX(100%);
  }

  &--left-top {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%) translateX(-100%);
  }

  &--right-bottom {
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(50%) translateX(100%);
  }

  &--left-bottom {
    position: absolute;
    bottom: 0;
    left: 10px;
    transform: translateY(50%) translateX(-100%);
  }

  &__dot {
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    padding: 0;
  }

  &__dot--right {
    right: 6px;
  }

  &__dot--left {
    left: 6px;
  }

  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity 0.15s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  &-fade-enter-from,
  &-fade-leave-to {
    opacity: 0;
  }
}
