@import '../../../../styles-var/devui-var.scss';

.#{$devui-prefix}-color-picker-edit {
  justify-content: space-between;
  align-items: center;

  &-text {
    display: inline-block;
    width: 50px;
    padding: 0 10px;
    user-select: none;
  }

  &-name {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50px;
  }

  &-flex {
    display: flex;
    align-items: center;
  }

  &-input {
    flex: 1;
    padding: 0 5px;

    input {
      border: none;
      outline: none;
      width: 100%;
      text-align: center;
    }

    &-wrapper {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 2px;

      &:focus-within {
        border: 1px solid var(--devui-primary);
      }
    }

    &.string-input &-wrapper {
      border-radius: 5px;
    }

    &.number-input &-wrapper {
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
