.var-tour-step {
  &__title {
    padding: var(--tour-title-padding);
    color: var(--tour-title-color);
    font-size: var(--tour-title-font-size);
  }

  &__message {
    padding: var(--tour-message-padding);
    color: var(--tour-message-color);
    font-size: var(--tour-message-font-size);
    line-height: var(--tour-message-line-height);
  }
}
