.var-tour-step {
  &__title {
    padding: var(--tour-title-padding);
    color: var(--tour-title-color);
    font-size: var(--tour-title-font-size);
  }

  &__description {
    padding: var(--tour-description-padding);
    color: var(--tour-description-color);
    font-size: var(--tour-description-font-size);
    line-height: var(--tour-description-line-height);
  }
}
