:root {
  --paper-background: var(--color-surface-container-highest);
  --paper-surface-low-background: var(--color-surface-container-highest);
  --paper-border-radius: 4px;
}

.var-paper {
  position: relative;
  background: var(--paper-background);
  transition: background-color 0.25s;
  overflow: hidden;
  border-radius: var(--paper-border-radius);
  -webkit-tap-highlight-color: transparent;

  &--round {
    border-radius: 50%;
  }

  &--cursor {
    cursor: pointer;
  }

  &--surface-low {
    background: var(--paper-surface-low-background);
  }
}
