:root {
  --swipe-indicator-color: #fff;
  --swipe-indicators-offset: 10px;
  --swipe-indicator-offset: 4px;
  --swipe-navigation-prev-left: 8px;
  --swipe-navigation-next-right: 8px;
}

.var-swipe {
  position: relative;
  overflow: hidden;
  user-select: none;
  width: 100%;

  &__track {
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
  }

  &__navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;

    &--prev {
      left: var(--swipe-navigation-prev-left);
    }

    &--next {
      right: var(--swipe-navigation-next-right);
    }

    &-prev-enter-active {
      transition: left 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }

    &-prev-leave-active {
      transition: left 0.3s cubic-bezier(1, 0.5, 0.8, 0.25);
    }

    &-prev-enter-from,
    &-prev-leave-to {
      left: -100%;
    }

    &-prev-enter-to,
    &-prev-leave-from {
      left: var(--swipe-navigation-prev-left);
    }

    &-next-enter-active {
      transition: right 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }

    &-next-leave-active {
      transition: right 0.3s cubic-bezier(1, 0.5, 0.8, 0.25);
    }

    &-next-enter-from,
    &-next-leave-to {
      right: -100%;
    }

    &-next-enter-to,
    &-next-leave-from {
      right: var(--swipe-navigation-next-right);
    }
  }

  &__indicators {
    position: absolute;
    display: flex;
    bottom: var(--swipe-indicators-offset);
    left: 50%;
    transform: translateX(-50%);
  }

  &__indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--swipe-indicator-color);
    opacity: 0.3;
    margin: 0 var(--swipe-indicator-offset);
    transition: opacity 0.3s;
  }

  &--vertical {
    flex-direction: column;
  }

  &--indicators-vertical {
    flex-direction: column;
    left: var(--swipe-indicators-offset);
    bottom: 50%;
    transform: translateY(50%);
  }

  &--indicator-active {
    opacity: 1;
  }

  &--indicator-vertical {
    margin: var(--swipe-indicator-offset) 0;
  }
}
