name: Publish Any Commit

on:
  pull_request:
  push:
    branches:
    - '**'
    tags:
    - '!**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - run: npm i -g --force corepack && corepack enable

    - name: Set node
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: pnpm

    - name: Bootstrap
      run: pnpm bootstrap

    - name: Release
      run: pnpm dlx pkg-pr-new publish --compact --pnpm './packages/*'
